@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.35; }

.h1-page-title {
  font-size: 30px;
  font-weight: 600;
  margin: 40px auto; }

.search-box {
  height: 60px;
  margin: 0 auto;
  margin-bottom: 50px; }

.search-box input#article-search {
  height: 60px;
  width: 625px;
  border: 1px solid rgba(195, 206, 215, 0.44);
  font-size: 16px;
  font-weight: 600;
  float: left;
  color: #1A2834;
  padding-left: 16px; }

.search-box input#article-search::-webkit-input-placeholder {
  color: #5F5F5F; }

.search-box .icon {
  position: relative;
  font-size: 18px;
  line-height: 3.9;
  left: -50px;
  color: #5F5F5F; }

.btn-close {
  display: flex;
  flex-direction: row-reverse; }

.btn-close:after {
  content: 'x';
  color: #4A4A4A;
  font-weight: 300;
  font-size: 3rem;
  position: absolute;
  top: 4%; }

/******************  Desktop HEADER   *********************/
.header {
  height: 80px;
  width: 100%;
  background: #0020A4; }
  .header .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px 20px; }

/* sidebar */
.sidebar {
  transition: .3s ease all;
  position: absolute;
  left: -100px;
  width: 0px;
  height: 100vh; }

.sidebarButtonContainer, .userNavButtonContainer {
  height: 60px;
  position: relative;
  border-bottom: 1px solid blue; }

.active {
  top: 0px;
  left: 0px;
  width: 20px;
  z-index: 2;
  position: fixed;
  transition: 0.5s;
  width: 250px;
  height: 100vh;
  transition: .3s ease all;
  background: #0020A4;
  box-shadow: -1px 1px 4px 1px rgba(0, 0, 0, 0.5); }

/* navigation Sidebar */
.sidebarNav ul, .userNav ul {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .sidebarNav ul li, .userNav ul li {
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #C3CED7;
    border-bottom: 1px solid #C3CED7; }
    .sidebarNav ul li:hover, .userNav ul li:hover {
      background: #40BFA3;
      transition: background 0.3s ease-in;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5); }

/* close button sidebar */
.close-x {
  stroke: white;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5; }

.btnCloseSidebar {
  position: absolute;
  top: 15px;
  width: 30px;
  right: 10px; }

/* User */
.btnCloseUserNav {
  position: absolute;
  top: 15px;
  width: 30px;
  right: 10px; }

.userMenuNav {
  position: absolute;
  top: -300px;
  right: -200px;
  width: 0px;
  z-index: 1;
  height: 300px;
  overflow: hidden;
  background: #0020A4;
  transition: width .3s ease-out; }

.activeUserNav {
  border-radius: 2px;
  height: auto;
  width: 200px;
  background: #0020A4;
  right: 0px;
  top: 0px;
  transition: right .3s ease; }

@media screen and (max-width: 500px) {
  .activeUserNav {
    height: auto;
    width: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0; }

  .active {
    top: 0px;
    left: 0px;
    width: 100%;
    bottom: 0;
    position: fixed;
    height: auto; } }
.articles-container {
  width: 90%;
  max-width: 975px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 2rem; }

.card {
  background-color: #fff;
  text-decoration: none;
  color: #1A2834;
  border: 1px solid #E2E5E8;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in; }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card .article-thumb-left {
  width: 200px;
  height: auto;
  padding: 0px 50px;
  margin: 43px 29px;
  background-size: cover;
  background-position: center center; }

.card .card-inner-right {
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card .card-inner-right p {
    width: 92%; }

.article-header {
  display: flex;
  margin: 18px 0;
  justify-content: space-between;
  flex-direction: row-reverse; }
  .article-header span {
    font-size: 16px;
    color: #9AA0A7; }

.article-title {
  font-size: 20px;
  font-weight: 600; }

.blue-line {
  box-sizing: border-box;
  background-color: #0020A4;
  height: 2px;
  width: 944px;
  margin: 60px 0; }

.article-container {
  width: 90%;
  max-width: 975px;
  margin: 0 auto; }
  .article-container article {
    margin-top: 10px; }
    .article-container article h2 {
      margin: 35px 0; }
    .article-container article .article-image {
      width: 200px;
      float: left;
      margin: 5px 40px 10px 0; }

.compare-articles-inner {
  width: 90%;
  max-width: 825px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  display: grid;
  background: white;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 1rem; }

body {
  background-color: whitesmoke; }

.cChart {
  display: none; }

button {
  width: 100px;
  height: 100px;
  border: none;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

button:focus {
  background-color: #0020A4;
  color: white;
  outline: 0; }

#chartContainer {
  width: 1000px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center; }

.chartButtons {
  margin: 30px 0;
  display: flex;
  justify-content: space-around; }

.displayChart {
  display: flex;
  z-index: 1;
  background-color: white;
  padding: 10px;
  margin-top: 50px; }

.login {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url(".././img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .login:before {
    content: '';
    position: absolute;
    background: rgba(3, 3, 3, 0.8);
    width: 100%;
    height: 100%; }

.loginBox {
  padding: 20px;
  position: relative;
  width: 100%;
  max-height: 300px;
  max-width: 330px;
  height: 100%;
  background: white;
  border-radius: 2px;
  top: calc(50vh - 25vh);
  border: 1px solid #979797;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

#frmLoginUser {
  display: flex;
  flex-direction: column; }
  #frmLoginUser input {
    height: 40px;
    margin-bottom: 20px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
    border: 1px solid rgba(195, 206, 215, 0.44); }

.loginBoxContainer {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .loginBoxContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px; }

#btnLoginUser {
  background: #40BFA3;
  height: 40px;
  border: 0;
  color: white;
  font-size: 18px;
  margin-bottom: 20px; }

body {
  background: white !important; }

.auther {
  display: flex;
  margin-top: 50px; }

.autherBox {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: end; }
  .autherBox .autherBoxImage {
    background-image: url(".././img/jane.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    max-height: 180px;
    height: 100%;
    width: 100%; }

.autherBoxInfo {
  padding: 20px;
  padding-top: 0px; }
  .autherBoxInfo h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600; }
  .autherBoxInfo p {
    font-size: 18px; }
  .autherBoxInfo p:nth-child(3) {
    padding-top: 15px; }

/* Filter */
.filter {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.filterBox {
  display: flex;
  flex-direction: row;
  margin: 20px; }
  .filterBox #btnCompareArticle, .filterBox #btnCompareDate {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid rgba(195, 206, 215, 0.44);
    margin-right: 20px;
    border-radius: 2px; }
    .filterBox #btnCompareArticle a, .filterBox #btnCompareDate a {
      font-size: 16px;
      font-weight: 600;
      padding: 20px;
      color: #5F5F5F;
      white-space: nowrap; }

/* Card */
.card .article-thumb-left {
  padding: 50px 90px !important;
  margin: 0 !important; }

.container {
  width: calc(100% - 100px);
  margin: 0 auto; }

@media screen and (max-width: 900px) {
  .container {
    width: calc(100% - 50px); } }
.articles-container {
  width: 100% !important;
  max-width: none !important; }
  .articles-container .card {
    width: 100% !important; }

/* chart */
#chartContainer {
  width: 100% !important; }

/* filter arrow */
.bottom {
  content: '';
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-top: 0.8em;
  width: 0.9em;
  height: 0.9em;
  border-top: 0.1em solid #B4B4B4;
  border-right: 0.1em solid #B4B4B4;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-right: 25px; }

.line {
  width: calc(100% - 15px);
  height: 2px;
  background: #0020A4;
  margin: 70px 0px; }

@media screen and (max-width: 600px) {
  .container {
    width: 100% !important;
    margin: 0 auto; }

  .autherBoxImage {
    display: none; }

  #iChartVisitors {
    display: none; }

  .btnShowChart:nth-last-child(1) {
    display: none; }

  .articles-container .card {
    flex-direction: column !important; }
    .articles-container .card .article-thumb-left {
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      height: 200px !important; }

  .filter {
    justify-content: center; }
    .filter .filterBox {
      flex-direction: column;
      width: 100%; }
      .filter .filterBox #btnCompareArticle, .filter .filterBox #btnCompareDate {
        margin-right: 0px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }

  .line {
    width: 100%;
    margin: 40px 0px; } }

.staff-search {
  height: 100%;
  margin: 0 5%; }

.staff-search__container {
  display: flex;
  justify-content: center; }

.staff-search__action-container {
  margin: 0 0 40px 0;
  width: 1015px; }

.staff-search__box {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  height: 60px; }

input.staff-search__searchbar {
  width: 100%;
  height: 60px;
  font-size: 0.8em;
  opacity: 1;
  float: left;
  padding-left: 20px;
  border: 1px solid rgba(195, 206, 215, 0.44); }

input .staff-search__searchbar {
  color: #5F5F5F; }

.staff-search__search-icon {
  position: absolute;
  top: 0;
  right: 30px;
  margin-top: 17px;
  z-index: 1; }
  .staff-search__search-icon img {
    width: 24px;
    height: 24px;
    color: rgba(195, 206, 215, 0.44); }

.staff-search__box-container textarea:focus,
.staff-search__box-container input:focus {
  outline: none; }

.staff-search__select {
  position: absolute;
  display: block;
  font-size: 16px;
  border-radius: 0;
  border: 1px solid rgba(195, 206, 215, 0.44);
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #5F5F5F;
  background: url("../images/arrow_down_select.svg") no-repeat 95%;
  padding-left: 0;
  list-style-type: none; }

.staff-search__select-header {
  margin-left: 20px; }

.staff-search__select li {
  display: none;
  position: relative;
  z-index: 2;
  float: left;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  background-color: #fff;
  border: 1px solid rgba(195, 206, 215, 0.44);
  cursor: pointer; }

.staff-search__select:hover li {
  display: block; }

.staff-search__select li:hover {
  background-color: #f3f5f7; }

.search-results__container {
  display: flex;
  justify-content: center; }

.search-results__item:hover {
  background-color: tomato; }

.search-results__item {
  font-size: 18px;
  height: 80px;
  width: 100%;
  max-width: 1015px;
  padding: 0;
  color: #1A2834;
  margin-left: 15px;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
  display: flex;
  justify-content: flex-start; }

.search-results__item div {
  line-height: 80px;
  display: inline-block; }

.search-results__img {
  padding-left: 15px; }

.search-results__img img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-top: 10px; }

.search-results__name {
  font-weight: 600;
  min-width: 350px;
  padding-left: 20px; }

.search-results__profession-name,
.search-results__phone-number {
  min-width: 150px; }

.search-results__email {
  color: #0020A4; }

.search-results__profession-icon,
.search-results__phone-icon,
.search-results__email-icon {
  position: relative;
  float: left;
  margin: 30px 10px 0 0; }

.search-results__profession-icon {
  background: url("../img/department.svg") no-repeat center;
  width: 18px;
  height: 19px; }

.search-results__phone-icon {
  background: url("../img/phone.svg") no-repeat;
  width: 18px;
  height: 19px; }

.search-results__email-icon {
  background: url("../img/mail.svg") no-repeat;
  width: 27px;
  height: 18px; }

/*# sourceMappingURL=style.css.map */
