body{
  background: white!important;
}

.auther{
  display: flex;
  margin-top: 50px;
}
.autherBox{
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: end;
  .autherBoxImage{
    background-image:  url('.././img/jane.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    max-height:180px;
    height: 100%;
    width: 100%;

  }
}
.autherBoxInfo{
  padding: 20px;
  padding-top: 0px;
  h3{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
  }
  p{
    font-size: 18px;
  }
  p:nth-child(3){
    padding-top: 15px;
  }
}

/* Filter */


.filter{
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.filterBox{
  display: flex;
  flex-direction: row;
  margin: 20px;
  #btnCompareArticle, #btnCompareDate{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid rgba(195,206,215,0.44);
    margin-right: 20px;
    border-radius: 2px;
    a{
      font-size: 16px;
      font-weight: 600;
      padding: 20px;
      color: #5F5F5F;
      white-space: nowrap;
    }
  }
}

/* filter arrow */
// HERDIS
.bottom {
  content: '';
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-top: 0.8em;
  width: 0.9em;
  height: 0.9em;
  border-top: 0.1em solid #B4B4B4;
  border-right: 0.1em solid #B4B4B4;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-right: 25px;
}


*, *:before, *:after {
  box-sizing: inherit;
}

.dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 146px;
  margin: 60px 0;
  padding: 0;
}

.dropdown-content-show {
  display: block !important;
}

.dropdown-item {
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: 1px solid rgba(195,206,215,0.44);
  outline: none;
  white-space: normal;
  float: none;
}


/* Card */

.card .article-thumb-left{
      padding: 50px 90px!important;
      margin: 0!important;
}


.container{
  width: calc(100% - 100px);
  margin: 0 auto;
}

@media screen and (max-width: 900px){
  .container{
    width: calc(100% - 50px);
    // width: 100%;
    // max-width: 600px;
    // margin: 0 auto;
  }
}





.articles-container{
  width: 100% !important;
  max-width: none!important;
  .card{
    width: 100% !important;
  }
}


/* chart */

#chartContainer{
  width: 100% !important;

}




.line{
  width: calc(100% - 15px);
  height:2px;
  background: $mainBlue;
  margin: 70px 0px;
}



@media screen and (max-width: 600px){

  .container{
    width: 100%!important;
    margin: 0 auto;
  }

  .autherBoxImage{
    display: none;
  }
  #iChartVisitors{
    display: none;
  }
  .btnShowChart:nth-last-child(1){
    display: none;
  }

  .articles-container{
    .card{
      flex-direction: column!important;
      .article-thumb-left{
        padding: 0!important;
        margin: 0!important;
        width: 100%!important;
        height: 200px!important;
      }
    }
  }

  .filter{
    justify-content: center;
    .filterBox{
      flex-direction: column;
      width: 100%;
      #btnCompareArticle, #btnCompareDate{
        margin-right: 0px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .line {
      width:100%;
      margin: 40px 0px;
  }

}
