.staff-search {
    height: 100%;
  }
  
  .staff-search__action-container {
    margin-bottom: 40px;
  }
  
  .staff-search__box {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    height: 60px;
  }
  
  input.staff-search__searchbar {
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-family: Raleway;
    opacity: 1;
    float: left;
    padding-left: 20px;
    border: 1px solid $color-bg-input;
  }
  
  input .staff-search__searchbar {
    color: $color-select-font;
  }
  
  .staff-search__search-icon {
    position: absolute;
    top: 0;
    right: 30px;
    margin-top: 17px;
    z-index: 1;
  
    img {
      width: 24px;
      height: 24px;
      color: $color-bg-input;
    }
  
  }
  
  .staff-search__box-container textarea:focus,
  .staff-search__box-container input:focus {
    outline: none;
  }
  
  .staff-search__select {
    position: absolute;
    display: block;
    font-family: Raleway;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid $color-bg-input;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: $color-select-font;
    background: url('../images/arrow_down_select.svg') no-repeat 95%;
    padding-left: 0;
    list-style-type: none;
  }
  
  .staff-search__select-header {
    margin-left: 20px;
  }
  
  .staff-search__select li {
    display: none;
    position: relative;
    z-index: 2;
    float: left;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    background-color: $backgroundColor;
    border: 1px solid $color-bg-input;
    cursor: pointer;
  }
  
  .staff-search__select:hover li {
    display: block;
  }
  
  .staff-search__select li:hover {
    background-color: $color-bg-input-hover;
  }
  
  .search-results__item {
    font-size: 18px;
    height: 80px;
    width: 100%;
    max-width: 1015px;
    padding: 0;
    color: $color-text-dark;
    margin-left: 15px;
    border-bottom: 1px solid $color-border;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }
  
  .search-results__item div {
    line-height: 80px;
    display: inline-block;
  }
  
  .search-results__img {
    padding-left: 15px;
  }
  
  .search-results__img img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 10px;
  }
  
  .search-results__name {
    font-weight: 600;
    min-width: 350px;
    padding-left: 20px;
  }

  .search-results__profession-name,
  .search-results__phone-number {
    min-width: 150px;
  }

  .search-results__email {
    color: $mainBlue;
    min-width: 20px;
  }
  
  .search-results__profession-icon,
  .search-results__phone-icon,
  .search-results__email-icon {
    position: relative;
    float: left;
    margin: 27px 10px 0 0;
  }
  
  .search-results__profession-icon {
    background: url('../img/department.svg') no-repeat center;
    width: 13px;
    height: 18px;
  }
  
  .search-results__phone-icon {
    background: url('../img/phone.svg') no-repeat;
    width: 18px;
    height: 17px;
  }
  
  .search-results__email-icon {
    background: url('../img/mail.svg') no-repeat;
    width: 27px;
    height: 18px;
    margin-top: 30px;
  }
  

  %input-base {
    min-height: 60px;
    background-color: $backgroundColor;
    border: solid 1px $color-border;
    border-radius: 3px;
  }
  
  
  .forms {
    // &__input {
    //   @extend %input-base;
    //   display: block;
    //   width: 100%;
    //   padding: 30px / 2;
    // }
  
    // &__label {
    //   @extend .hdln--smaller;
    //   font-size: 16px;
    //   display: block;
    // }
  
    &__radio-label {
      margin-bottom: 10px;
    }
  
    // &__submit {
    //   @extend .button;
    // }
  
    &__radio {
      display: none;
      position: relative;
  
      + label {
        position: relative;
      }
  
      + label::before {
        content: '';
        border-radius: 50%;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: -1px 20px 0 0;
        vertical-align: middle;
        border: 1px solid $color-border;
        cursor: pointer;
        background-color: $backgroundColor;
      }
  
      + label::after {
        left: 3px;
        top: 5px;
        position: absolute;
        content: '';
        border-radius: 50%;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        background-color: $mainBlue;
        cursor: pointer;
        display: none;
      }
    }
  
    &__checkbox {
      display: none;
      position: relative;
  
      + label {
        position: relative;
      }
  
      + label::before {
        content: '';
        border-radius: 2px;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: -1px 20px 0 0;
        vertical-align: middle;
        border: 1px solid $color-border;
        cursor: pointer;
        background-color: $backgroundColor;
      }
  
      + label::after {
        left: 0;
        top: 3px;
        position: absolute;
        content: '';
        border-radius: 50%;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        background-color: transparent;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  
    &__textarea {
      @extend %input-base;
      width: 100%;
      min-height: 260px;
      resize: none;
      padding: 15px;
    }
  
    &--block {
      display: block;
      padding-bottom: 10px;
    }
  
    &--search {
      background-image: url('../img/search.svg');
      background-repeat: no-repeat;
      background-position: 30px center;
      padding-left: 80px;
      font-weight: 100;
      font-size: 0.85em;
    }
  
    &--selected {
      background-color: $backgroundColor;
    }
  }
  
  select.forms__input {
    // @extend %input-base;
    // @extend .hdln--smaller;
    font-size: 14px;
    text-transform: uppercase;
    height: 60px;
    padding: 0 30px;
    background-image: url('../images/arrow_down.svg');
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 30px center;
  
    -webkit-appearance: none;
  }
  
  select.forms--selected {
    background-color: $backgroundColor;
  }
  
  input[type='checkbox']:checked.forms__checkbox + label::after {
    background-image: url('../images/checkmark.svg');
  }
  
  input[type='radio']:checked.forms__radio + label::after {
    display: block;
  }
  
  input[type='checkbox']:checked.forms__checkbox + label,
  input[type='radio']:checked.forms__radio + label {
    font-weight: bold;
  }
  