// Search
.search-box{
    height: 60px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.search-box input#article-search {
    height: 60px;
    width: 625px;
    border: $filterBorderColor;
    font-size: 16px;
    font-weight: 600;
    float: left;
    color: $txtParagraphColor;
    padding-left: 16px;
}

.search-box input#article-search::-webkit-input-placeholder {
    color: $txtFilterColor;
}

.search-box .icon {
    position: relative;
    font-size: 18px;
    line-height: 3.9;
    left: -50px;
    color: $txtFilterColor;
}

.btn-close {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;

}

.btn-close:after {
    content: 'x';
    color: $txtTitleColor;
    font-weight: 300;
    // font-family: Arial, sans-serif;
    font-size: 3rem;
    position: absolute;
    top: 4%;
}


.btn-sure {
    height: 40px;
    width: 88px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    color: #fff;
    font-family: $mainFont;
    font-size: 18px;
    line-height: 1.35;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-green {
    background-color: $btnYesColor;
}

.btn-red {
    background-color: $btnNoColor;
}

// Single author back button
.btn-back {
    margin-top: 1rem;

    a {
        text-decoration: none;
        color: $txtFilterColor;
        font-size: $articleH2;
    }


    .side-arrow {
        content: '';
        border-radius: 2px;
        position: relative;
        display: inline-block;
        margin-top: 0.8em;
        width: 0.9em;
        height: 0.9em;
        border-right: 0.1em solid $txtFilterColor;
        border-bottom: 0.1em solid $txtFilterColor;
        -moz-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        margin-right: 4px;
    }
}


