// .monthPre{
//   color: gray;
//   text-align: center;
// }
//
// .monthNow{
//   color: blue;
//   text-align: center;
// }
//
// .dayNow{
//   border: 2px solid black;
//   color: red;
//   text-align: center;
// }
// .calendar td{
//   htmlContent: 2px;
//   width: 40px;
// }
//
// .monthNow th{
//   background-color: white;
//   color: #5f697a;
//   text-align: center;
//   padding: 15px 0px;
//
// }
// .dayNames{
//   background: white;
//   color: black;
//   text-align: center;
// }


.calendar-container{
  display: flex;
  margin: 0 auto;
  position: absolute;
  right: 70px;
  z-index: -1;
  visibility: hidden;
}
.calendar-container-box{
  width: 100%;
  display: flex;
  // margin: 0 auto;
}

*{margin:0;padding:0;}

body{
  background:#445566;
}

#calendar{
  background: white;
  width:358px;
  margin:0 auto;
  margin-right: 20px;
  border-radius:5px;
  font-family:'Open Sans',sans-serif;
  text-align:center;
  color:#555;
  box-shadow:0 0 50px -14px rgba(0,0,0,.8);
}

#calendar h1{
  border-radius:5px 5px 0 0;
  padding:20px;
  font-size:16px;
  font-weight:300;
  letter-spacing:1px;
  color:#000D5E;
  cursor:default;
}
#calendar:nth-child(1){
  h1{
    &:before{
      content: "\003c";
      color:#000D5E;
      position: relative;
      font-size: 25px;
      right: 90px;
    }
  }
}
#calendar:nth-child(2){
  h1{
    &:after{
      content: "\003e";
      color:#000D5E;
      position: relative;
      font-size: 25px;
      left: 90px;
    }
  }
}

#calendar table{
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
  border-spacing:0;
  border-radius:0 0 5px 5px;
}

#calendar td{
  width:38px;
  height:38px;
  background:#CCF6FF;
  color:#000D5E;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding:6px;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

// #calendar td:hover:not(.current){
//   background:#ddd;
// }

#calendar .lastmonth,#calendar .nextmonth,#calendar .nextmonth ~ *{
  background:#fff;
  color:#000D5E;
}

#calendar .current{
  background:#000D5E;
  font-weight:700;
  color:#fff;
  text-shadow:0 0 10px rgba(0,0,0,.5);
}

#calendar .hastask{
  font-weight:700;
}

#calendar tr:last-of-type td:first-of-type{border-radius:0 0 0 5px;}
#calendar tr:last-of-type td:last-of-type{border-radius:0 0 5px 0;}


#days td{
  border: none;
  background-color: white;
  color:#000D5E;
}
.activeCalendar{
  z-index: 1;
  visibility: visible;
}

@media screen and(max-width: 900px){
  .calendar-container {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
}
  #calendar {
      background: white;
      // width: 100%;
      margin: 0 auto;
      border-radius: 5px;
      font-family: 'Open Sans',sans-serif;
      text-align: center;
      color: #555;
      box-shadow: none;
  }
  #calendar:nth-child(1){
    h1{
      &:before{
        content: "\003c";
        color:#000D5E;
        position: relative;
        font-size: 25px;
        right: 60px;
      }
    }
  }
  #calendar:nth-child(2){
    h1{
      &:after{
        content: "\003e";
        color:#000D5E;
        position: relative;
        font-size: 25px;
        left: 60px;
      }
    }
  }
}

@media screen and(max-width: 500px){
  .calendar-container{
    display: none;
  }
}
