/******  navigation ******/
.navigation-section{
  position: relative;
  width: 100%;
  max-width: 250px;
  margin-right: 20px;
  transition: all 5s ease-in;
}
.navigation{
  width: 100%;
  max-width: 250px;
  position: fixed;
  height: 100vh;
  border: 1px solid red;
  ul{
    @include flexCenterChild;
    flex-direction: column;
    height: 100%;
    li{
      font-size: 20px;
      padding-bottom: 15px;
    }
  }
}
.cPage{
  display: none;
}
.burger{
  position: absolute;
  height: 30px;
  top: 10px;
  left: 17px;
  z-index: 1;
}
