// Colors
$mainBlue: #0020A4;
$black: #000000;

$txtTitleColor: #4A4A4A;
$txtFilterColor: #5F5F5F;
$txtAuthorInfoColor: #1A2834;
$filterBorderColor: 1px solid rgba(195,206,215,0.44);

// Buttons
$btnYesColor: #40BFA3;
$btnDangerColor: #EE6C5E;

// Layout
$cardBoxShadow: -1px 1px 4px 1px rgba(159,159,159,0.5);
$cardDateColor: #9AA0A7;

$lineBorder: 1px solid #0000A0;